<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>用户登录界面</title>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/css/signin.css}" rel="stylesheet" type="text/css">
</head>

<body class="text-center">
<form class="form-signin" th:action="@{/login}" th:method="post">
    <img class="mb-4" th:src="@{/img/login.jpg}" width="72px" height="72px">
    <h1 class="h3 mb-3 font-weight-normal">请登录</h1>
    <!-- 用户登录错误信息提示框 -->
    <div th:if="${param.error}" style="color: #ff0000;height: 40px;text-align: left;font-size: 1.1em">
        <img th:src="@{/img/loginError.jpg}" width="20px">用户名或密码错误，请重新登录！
    </div>
    <input type="text" name="username" class="form-control" placeholder="用户名" required="" autofocus="">
    <input type="password" name="password" class="form-control" placeholder="密码" required="">
    <div class="checkbox mb-3">
        <label>
            <input type="checkbox" name="remember-Me"> 记住我
        </label>
    </div>
    <button class="btn btn-lg btn-primary btn-block" type="submit" >登录</button>
    <p class="mt-5 mb-3 text-muted">Copyright© 2024-2025</p>
</form>
</body>
</html>
